.headerContent{
    margin-top: 10px;
}

@media (min-width: 448px) {
    .headerContent{
        position: relative;
        height: 100%;
    }

    
}

.headerContent__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  0 1rem;
    max-width: 650px;
    top: 20%;
    left: 0;
}

@media (min-width: 448px) {
    .headerContent__container{
        margin-top: 40px;
        padding: 0 2rem;
    }
    
}
@media (min-width: 768px) {
    .headerContent__container{
        padding: 0 4.5rem;
        position: absolute;
        max-width: 650px;
        align-items: flex-start;
        top: 20%;
        left: 0;
    }
    
}

.headerContent__title{
    font-size: 1.5rem;
    margin: 0;
    font-family: ArabotoNormal;
    color: #fff;
}

@media (min-width: 448px) {
    .headerContent__title{
        font-size: 2rem;
    }
    
}

.headerContent__description{
    font-size: 1rem;
    margin: 0;
    font-family: ArabotoNormal;
    color: #fff;
}

@media (min-width: 448px) {
    .headerContent__description{
        font-size: 1.5rem;
        margin: 0;
        font-family: ArabotoNormal;
        color: #fff;
    }
    

    
}

.headerContent__button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    width: 200px;
    margin-top: 50px;
    font-family: ArabotoMedium;
    color: #fff;
    background-color: #fb3640;
    border: none;
    padding-top: .6rem;
    padding-bottom: .8rem;
    border-radius: 25px;
    cursor: pointer;
}

@media (min-width: 448px) {
    .headerContent__button{

        width: 290px;

    }
}
    


.headerContent__button:hover{
    background-color: #ff121e;
}