

.nav__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 4.5rem;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 768px) {
    .nav__container {
        flex-direction: row;
        align-items: flex-end;
    }
}

.nav__dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 17px;
    position: absolute;
    right: 30px;
    top: 55px;
    z-index: 100;
}

@media (min-width: 768px) {
    .nav__dropdown{
        right: 65px;
        top: 45px;
    }
}

.dropdown__hidden{
    display: none;
}

.nav__dropdownLink{
    font-size: 1.2rem;
    font-family: ArabotoMedium;
    color: #127299;
    cursor: pointer;
}

.nav__dropdownLink:hover{
    text-decoration: underline;
}


.nav__brand {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    font-family: ArabotoBlack;
    color: #fff;
    cursor: pointer;
}

.nav__lang{
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: 1.5rem;
    font-family: ArabotoNormal;
    color: #fff;
}

@media (min-width: 768px) {
    .nav__lang{
        top: 7px;
        right: 100px;
    }

}

.nav__row{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 26px;
    right: 30px;
    filter: invert(100%);
    cursor: pointer;
}

@media (min-width: 768px) {
    .nav__row{
        top: 18px;
        right: 75px;
    }
    
}

.rotate{
    transform: rotate(180deg);
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 448px) {
    .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
}

.nav__item {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.nav__link {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    margin: 0;
    font-family: ArabotoMedium;
    position: relative;
}

.nav__link--animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: 
  #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .nav__link--animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }